<div id="<%= dom_id appointment %>">
  <p>
    <strong>App date:</strong>
    <%= appointment.app_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= appointment.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= appointment.user_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= appointment.patient_id %>
  </p>

</div>
