<div id="<%= dom_id patient_work %>">
  <p>
    <strong>Description:</strong>
    <%= patient_work.description %>
  </p>

  <p>
    <strong>Estimation:</strong>
    <%= patient_work.estimation %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= patient_work.discount %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= patient_work.patient_id %>
  </p>

</div>
