<p style="color: green"><%= notice %></p>

<%= render @patient_work %>

<div>
  <%= link_to "Edit this patient work", edit_patient_work_path(@patient_work) %> |
  <%= link_to "Back to patient works", patient_works_path %>

  <%= button_to "Destroy this patient work", @patient_work, method: :delete %>
</div>
